* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
   

}
body {
    background-image: url(https://t4.ftcdn.net/jpg/04/43/37/07/360_F_443370711_sqHRnSIQovW6uyQ5ZwDpd4kjCG8Q6swm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: red;
    text-align: center;
    border: 2px solid black;
}
p {
    color: white;
}